.header{
	padding: 20px 0px;
}
.header__inner {
    font-family: Poppins-Regular;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.links{
	font-size: 20px;
}
.nav__link{
	margin: 0 15px;
	cursor: pointer;
	position: relative; 
	color: #333;
	font-size: 22px;
	text-decoration: none;
}
.logo {
	color: #333;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 8px;
}
.nav__link:hover, .logo:hover{
	color: salmon;
}
.nav__link:hover:after{
	opacity: 1;
}
