<app-header></app-header>

<div class="section">
    <div *ngFor="let ingreg of ingredients" class="items">
        <div class="center">
          <div class="property-card">
              <div class="property-image recipe">
                  <div class="property-image-title">
                  </div>
              </div>
            <div class="property-description">
              <h5 class="name">{{ ingreg.name }}</h5>
              <p class="day">Калорийность: {{ ingreg.calories }}</p>
              <button (click)="removeIngredient(ingreg.id)" class="btn-show-more del">Удалить</button>
            </div>
          </div>
        </div>
      </div>
</div>